<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Factura</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap" rel="stylesheet">
</head>

<body>
    <style>
        * {
            font-family: 'Courier Prime', monospace;
        }

        p {
            font-size: 12px;
        }

        .center {
            text-align: center;
        }

        table {
            font-size: 12px;
        }
    </style>
    <div class="center">
        <p>DR. BURGER</p>
        <p>"SU RECETA PARA EL HAMBRE"</p>
        <p>De: Sthepanie Anai Romero López</p>
        <p>R.T.N 0511991036210</p>
        <p>Cel: 9992-2477</p>
        <p>E-mail: s.romero23@hotmail.com</p>
        <p>B° Mercedes Casa No. 53, Contiguo a Ferretería Pineda, <br> Gracias, Lempira.</p>
    </div>
    <p>Factura</p>
    <p>CAI: </p>
    <br>
    <p>Rango autorizado:</p>
    <p>Fecha límite de emisión: </p>
    <br>
    <p>Cliente:</p>
    <p>RTN:</p>
    <p>Dirección:</p>
    <br>
    <p>Datos de Adquiriente Exonerado</p>
    <p>Orden de Compra Exenta #</p>
    <p>Const. Reg. de Exonerados #</p>
    <p>No. Reg. S. A. G.</p>
    <br>
    <p>Detalle del pedido</p>
    <table>
        <tr>
            <th>Descripción</th>
            <th>Cant x Precio</th>
            <th>Gravada</th>
        </tr>
        <tr>
            <td>
                <hr>Lorem ipsum dolor sit amet cons 
            </td>
            
            <td>
                <hr>Lorem ipsum dolor sit amet cons
            </td>
            <td>
                <hr> Lorem ipsum dolor sit amet cons
            </td>

        </tr>
        <tr>
            <td style="text-align: right;" colspan="2">
                <hr>
            </td>
            <td><hr></td>
        </tr>
        <tr>
            <td style="text-align: right;" colspan="2">Sub-Total L.</td>
            <td>lorem</td>
        </tr>
        <tr>
            <td style="text-align: right;" colspan="2">Descuento y Rebajas Otorgadas</td>
            <td>lorem</td>
        </tr>
        <tr>
            <td style="text-align: right;" colspan="2">V. Exenta L.</td>
            <td>lorem</td>
        </tr>
        <tr>
            <td style="text-align: right;" colspan="2">V. Gravada L.</td>
            <td>lorem</td>
        </tr>
        <tr>
            <td style="text-align: right;" colspan="2">Exonerado L.</td>
            <td>lorem</td>
        </tr>
        <tr>
            <td style="text-align: right;" colspan="2">15% ISV L.</td>
            <td>lorem</td>
        </tr>
        <tr>
            <td style="text-align: right;" colspan="2">18% ISV L.</td>
            <td>lorem</td>
        </tr>
        <tr>
            <td style="text-align: right;" colspan="2">Total L.</td>
            <td>lorem</td>
        </tr>
        <tr>
            <td style="text-align: right;" colspan="2">
                <hr>
            </td>
            <td><hr></td>
        </tr>
        <tr>
            <td style="text-align: right;" colspan="2">Efectivo</td>
            <td>L. </td>
        </tr>
        <tr>
            <td style="text-align: right;" colspan="2">
                <hr>
            </td>
            <td><hr></td>
        </tr>
        <tr>
            <td style="text-align: right;" colspan="2">Cambio</td>
            <td>L.</td>
        </tr>
        
    </table>


</body>

</html>